@charset "UTF-8";

@font-face {
    font-family: league;
    src: url(./fontes/league-spartan.bold.ttf) format('truetype');
}


@font-face {
    font-family: asap;
    src: url(./fontes/AsapCondensed-Bold.ttf) format('truetype');
}

body {
    background-color: white;
    color: whitesmoke;
    margin: 0;
    top: 0;
}

.banner {
    background-image: url('./imgs/fundo_praise.png');
    height: 700px;
    width: 100%;
    background-size: cover;
    font-family: asap;
    font-size: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container1 p {
    text-align: start;
    font-family: league;
    margin-left: 40px;
    margin-top: 100px;
}

.container1 h1 {
    margin-left: -750px;
    margin-top: 100px;
    word-spacing: 10px;
}

.container1 img {
    margin-left: 900px;
    margin-top: -400px;
}

.textos {
    margin-top: 150px;
}

.sobreEu {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container2 {
    margin: 50px auto; 
    padding: 40px 10px;
    align-items: center;
}

.container2 img {
    height: 500px;
    width: 400px;
    border-radius: 25px;
    margin-left: 150px;
    margin-top: 70px;
}

 .titulos {
    background-color: #1b1c1e;
    height: 80px;
    width: 1400px;
    color: #ffffff;
    font-family: asap;
    text-align: center;
    margin-left: 55px;
}

.titulos h1 {
    padding: 20px;
    font-size: 40px;
    word-spacing: 10px;
}

.container2 .texto {
    font-family: league;
    color: black;
    display: flex;
}

.texto h1 {
    margin-top: -450px;
    margin-left: 650px;
    word-spacing: 5px;
    font-size: 35px;
}

.texto p {
    margin-top: -350px;
    margin-left: -400px;
    word-spacing: 5px;
    font-size: 25px;
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
}

.louvor {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container3 {
    margin: 50px auto; 
    padding: 40px 10px;
    align-items: center;
}

.container3 img {
    height: 380px;
    width: 530px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.container3 p {
    font-family: league;
    font-size: 25px;
    margin-left: 700px;
    margin-top: -320px;
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
}

.container4 {
    margin: 50px auto; 
    padding: 40px 10px;
    align-items: center;
}

.espirito {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container4 p {
    font-family: league;
    font-size: 25px;
    margin-left: 130px;
    margin-top: 170px;
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
}

.container4 img {
    margin-left: 900px;
    margin-top: -450px;
}

.container5 {
    margin: 50px auto; 
    padding: 40px 10px;
    align-items: center;
}

.musical {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container5 img {
    height: 400px;
    width: 350px;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 70px;
}

.container5 p {
    font-family: league;
    font-size: 25px;    
    margin-left: 650px;
    margin-top: -350px;
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
}

.vezes {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container6 img {
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: 50px;
}

.container6 {
    margin: 50px auto; 
    padding: 40px 10px;
    align-items: center;
}

.container6 p {
    font-family: league;
    font-size: 25px;    
    margin-left: 650px;
    margin-top: -450px;
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
}

.container7 {
    margin: 50px auto; 
    padding: 40px 10px;
    align-items: center;
}

.pratica {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container7 h1 {
    font-family: asap;
    font-size: 80px;
    word-spacing: 10px;
    margin-left: 150px;
    margin-top: 100px;
}

.imagemseta img {
    height: 300px;
    width: 300px;
    margin-left: 350px;
    margin-top: -50px;
}

.imagemcheck img {
    height: 500px;
    width: 500px;
    margin-left: 900px;
    margin-top: -500px;
}

.praticas {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
    font-family: league;
}

.praticas h2 {
    font-size: 35px;
    margin-left: 100px;
    margin-top: 70px;
}

.praticas2 h2 {
    font-size: 35px;
    margin-left: 100px;
    margin-top: 70px;
}

.praticas p {
    font-size: 25px;    
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
    margin-left: 100px;
}

.praticas2 p {
    font-size: 25px;    
    text-align: justify;
    line-height: 1.6; 
    width: 45%;
    margin-left: 100px;
}

.praticas img {
    margin-left: 950px;
    margin-top: -500px;
}

.praticas2 img {
    margin-left: 950px;
    margin-top: -500px;
}

.praticas2 {
    background-color: #f1efe7;
    height: 650px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
    font-family: league;
}

.container8_ {
    margin-top: -50px;
}


.container8 p6 img {
    margin-top: 100px;
}

.desafio {
    background-image: url("../style/imgs/TelaFinalHome.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
    font-family: asap;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -5px;
}

.desafio img {
    height: 550px;
    width: 400px;
    border-radius: 20px;
    margin-right: 100px; 
}

.container9 img {
    height: 150px;
    width: 150px;
    margin-left: 100px;
}

.container9 {
    padding: 30px;
    border-radius: 20px;
    color: whitesmoke;
    text-align: center;
    max-width: 600px;
    margin-left: 200px;
    margin-top: -150px;
}

 .titulo h1 {
    font-size: 80px;
    font-family: asap;
    word-spacing: 5px;
    display: block;
    margin-top: 200px;
}

.container9 .frase h2 {
    font-size: 50px;
    font-family: asap;
    word-spacing: 2px;
}

#botaoquiz {
    display: inline-block;
    padding: 15px 30px;
    font-size: 30px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#botaoquiz:hover {
    background-color: #f0f0f0; 
}