@charset "UTF-8";

@font-face {
    font-family: league;
    src: url(./fontes/league-spartan.bold.ttf) format('truetype');
}


@font-face {
    font-family: asap;
    src: url(./fontes/AsapCondensed-Bold.ttf) format('truetype');
}

body {
    background-color: #f1efe7;
    color: whitesmoke;
    margin: 0;
    top: 0;
}

.banner {
    background-color: #f1efe7;
    height: 680px;
    width: 100%;
    color: black;
    justify-content: center;
    align-items: center;
}

.container1 {
    color: black;
    margin: 50px auto; 
    padding: 50px 10px;
    align-items: center;
    display: block;
}

.container1 h1 {
    font-family: asap;
    font-size: 85px;
    text-align: start;
    margin-left: 90px;
}

.container1 p {
    font-family: league;
    font-size: 45px;
    text-align: start;
    margin-left: 90px;
}

.container1 .imagem1 img {
    height: 450px;
    width: 500px;
    margin-top: -145px;
    margin-left: 80px;
}

.container1 .imagem2 img {
    height: 460px;
    width: 680px;
    border-radius: 25px;
    margin-left: 760px;
    display: flex;
    margin-top: -650px;
}

.sobre {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.container2 {
    margin: 50px auto; 
    padding: 50px 10px;
    align-items: center;
    display: block;
}

.container2 .somos {
    background-color: #1b1c1e;
    height: 80px;
    width: 1400px;
    color: #ffffff;
    font-family: asap;
    text-align: center;
    margin-left: 55px;
}

.somos h1 {
    padding: 20px;
    font-size: 40px;
    word-spacing: 10px;
}

.container2 .texto {
    text-align: left;
    margin-left: 730px;
    margin-top: -500px;
}

.container2 .texto h1 {
    font-size: 40px;
    font-family: league;
    word-spacing: 5px;
}

.container2 .texto p {
    font-size: 25px;
    font-family: league;
    word-spacing: 5px;
}

.container2 img {
    height: 450px;
    width: 450px;
    margin-left: 80px;
    margin-top: 60px;
    padding: 30px 20px;
}

.ODS {
    background-color: #f1efe7;
    height: 850px;
    width: 100%;
    color: black;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.ODS .apoio {
    background-color: #1b1c1e;
    color: white;
    font-family: asap;
    height: 80px;
    width: 1400px;
    margin-left: 55px;
}

.ODS .texto {
    color: black;
    font-family: league;
}

.container3 {
    margin: 50px auto; 
    padding: 50px 10px;
    align-items: center;
    display: block;
}

.ODS h1 {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    word-spacing: 10px;
}

.imagens {
    align-items: center;
    justify-content: center;
}

.imagemONU img {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 250px;
}

.imagemODS img {
    height: 500px;
    width: 500px;
    margin-top: -100px;
    margin-left: 95px;
}

.container3 .texto h1 {
    text-align: left;
    margin-left: 650px;
    margin-top: -580px;
    font-size: 40px;
    word-spacing: 5px;
}

.container3 .texto p {
    font-size: 25px;
    margin-left: 670px;
    margin-top: 100px;
    word-spacing: 5px;
}

.MVV {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
}

.container4 {
    margin: 50px auto; 
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.Missão {
    background-color: #1b1c1e;
    color: white;
    border-radius: 20px;
    height: 530px;
    width: 300px;
    margin: 40px;
}

.Visão {
    background-color: #1b1c1e;
    color: white;
    border-radius: 20px;
    height: 530px;
    width: 300px;
    margin: 40px;
}

.Valores {
    background-color: #1b1c1e;
    color: white;
    border-radius: 20px;
    height: 530px;
    width: 300px;
    margin: 40px;
}

.container4 h1 {
    font-family: asap;
    font-size: 50px;
}

.container4 p {
    font-family: league;
    font-size: 25px;
    margin-top: 60px;
}

.Visão p {
    margin-top: 80px;
}

.Valores p {
    margin-top: 70px;
}

.cadastro {
    background-color: #f1efe7;
    height: 800px;
    width: 100%;
    color: black;
    margin-top: -70px;
}

.container5 {
    margin: 50px auto; 
    padding: 50px 10px;
    align-items: center;
    justify-content: center;
    font-family: asap;
}

.container5 img {
    height: 650px;
    width: 500px;
    border-radius: 20px;
    margin-left: 150px;
}

.mude {
    font-size: 35px;
    margin-left: 870px;
    margin-top: -680px;
}

.frase {
    font-size: 30px;
    margin-left: 780px;
    margin-top: 120px;
}

#botaocadastro {
    display: inline-block;
    padding: 15px 30px;
    font-size: 40px;
    color: white;
    background-color: #1b1c1e;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 910px;
    margin-top: 10px;
}

#botaocadastro:hover {
    background-color: #1b1c1e; 
}